* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Architects Daughter', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
